html{
    font-family: Lato, sans-serif;
}
*,*::after, *::before{
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
}
.navbar{
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.navbar__brand{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar__logo{
    margin-right: 10px;
}

.navbar__navigation{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: #5c6b5c;
}

.navbar__navigation-item {
    margin-right: 50px;
}

.navbar__link{
    text-decoration: none;
    color: inherit;
}

.main{
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px; 
}

.form{
    display: flex;
    flex-direction:column;
    align-items: flex-end;

}

.form__label{
    display: block;
    margin-bottom: 10px;
}

.form__textarea{
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    background-color: rgb(255,255,243);
    margin-bottom: 10px;
}

.form__submit{
    background-color: #3cd0ff
    border:none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.form__submit:hover{
    background-color: #18c1e1
}

.entry{
    margin-top: 50px;
}

.entry__title{
    display: inline;
    font-size: 18px;
}

.entry__date{
    color: #5c6b70;
}

.entry__content{
    font-size: 16px;
    line-height: 150%;
}
